<% content_for :title do %>About<% end %>

<h3>About Luke Skywalker</h3>

<p>Luke Skywalker was a Tatooine farmboy who rose from humble beginnings to become one of the greatest Jedi the galaxy has ever known. Along with his friends Princess Leia and Han Solo, Luke battled the evil Empire, discovered the truth of his parentage, and ended the tyranny of the Sith.</p>
<p>Raised by his aunt and uncle on a Tatooine moisture farm, Luke Skywalker never knew his mother or father. He knew nothing of the Force or Jedi, but longed for a more exciting life. Soon he would have it. With his Uncle Owen’s purchase of new droids R2-D2 and C-3PO, a chain of events was put in place that would change Luke -- and the galaxy -- forever. Artoo, a plucky astromech droid, wandered off in his first night on the farm, telling C-3PO he had to deliver a message to someone named Obi-Wan Kenobi. When Luke went looking for the lost droid, he was attacked by Tusken Raiders and knocked unconscious. Before he could be taken captive, friendly hermit Ben Kenobi appeared and frightened off the Sand People. Ben revealed that he was indeed Obi-Wan Kenobi, and had something that belonged to Luke’s father: a lightsaber, the weapon of a Jedi. Obi-Wan said that he and Luke’s father were both Jedi Knights, strong with the Force, and good friends. Luke knew none of this, and asked how his father died. The old Jedi said that his former student, Darth Vader, turned to the dark side and killed him.</p>

<p>His favorite quotation is:</p>

<p>I am a Jedi, like my father before me.</p>